body {
    font-family: "Gill Sans", sans-serif;
    /*background-color: #336600;*/

}

h4 {
    margin-top: 30px !important;
}

.navbar-brand {
    color: white;
}

.name {
    font-size: 60px;
}

.latin-name {
    font-size: 20px;
    font-style: italic;
}

.navbar {
    background-color: #336600;
}

.navbar ul li:hover {
    background-color: inherit;
}

.navbar2-style {
    font-size: 20px;
    color: white;
}

.navbar2-style:hover {
    color: white;
}

.current-status-label {
    padding-left: 10px;
}

.status-icon {
    color: #b34700;
    margin-right: 10px;
}

.current-status {
    padding-left: 10px;
    font-size: 20px;
    color: #b34700;
}

.red-panda-icon {
    width: 90px;
}

.red-panda-icon-history {
    width: 60px;
}

.slider {
    width: 320px !important;
}

.red-panda {
    border-radius: 5px;
}

.panel {
    padding: 20px;
    height: 778px;
}

.disappearing {
    opacity: 0.2;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#bg{
    background-size: 1850px 800px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

/*
#map-countries {
    width: 800px;
    height: 500px;
}
*/

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white; background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    text-align: left;
    line-height: 18px; color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
